@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.nav-link::before {
  display: none;
}
.nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  line-height: 24px;
}
/* .nav-link.active-scroll-spy {
  color: #000 !important;
} */
.ant-menu .ant-menu-item {
  height: auto;
  line-height: initial;
  margin: 0;
}
.ant-menu .ant-menu-item.ant-menu-item-selected .nav-link,
.ant-menu .ant-menu-item.ant-menu-item-active .nav-link {
  color: #fff !important;
}
.ant-menu .ant-menu-item.ant-menu-item-selected,
.ant-menu .ant-menu-item.ant-menu-item-active {
  background-color: rgba(0, 0, 0, 0.06);
}
.social-icon {
  transition: all 0.3s ease;
}
.ant-image-img {
  border: 2px solid #f1f1f1;
  border-bottom: none;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.projects-grid .ant-card-body {
  border-top: 1px solid #f1f1f1;
  background-color: #fefefe;
}
